:root{
    --primary: #e3afd1;
    --secondary: #75004c;
    --bg: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: black;
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--bg);
    color: black;
}

ul{
    list-style-type: none;
}

li{
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

.navbar{
    position: sticky;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 17%;
    padding: 0 7%;
    font-size: 18px;
    background-color: rgb(227, 175, 209, 0.8);
}

.navbar-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-size: 25px;
    margin: 10px;
}

.navbar-li a{
    display: inline-block;
    font-size: 17px;
    color: black;
    margin: 0 13px;
}

.navbar-li.active{
    right: 0;
}

.navbar-li a:hover{
    color: var(--secondary);
    
}

.navbar-order{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    background-color: var(--secondary);
    font-size: 18px;
}

:hover.navbar-order{
    color: black;
    background-color: var(--primary);
    transition: all 0.3s ease;
}

#menu{
    display: none;
}

#hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 5% 10%;
    gap: 10%;
}

.main-text{
    width: 50%;
}

.main-text h1 {
    font-size: 45px;
}

.main-text h3{
    background-color: var(--primary);
    color: var(--secondary);
    padding: 3px 13px;
    border-radius: 15px;
    display: inline-block;
}

#about{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5% 7% 0 7%;
    gap: 7%;
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 2% 0;
}

.about-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    background-color: var(--primary);
    border-radius: 13px;
    padding: 3rem;
    width: 40%;
    max-width: 750px;
}

.about-item2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    background-color: none;
    border: 2px solid var(--secondary);
    border-radius: 13px;
    padding: 3rem;
    width: 40%;
    max-width: 750px;
}

#price{
    justify-content: center;
    align-items: center;
    padding: 0 7%;
}

.price-tag{
    justify-content: center;
    align-items: center;
}

.price-tag img {
    width: 20%;
    animation: moveImage 7s ease-in-out infinite; /* Menambahkan animasi */
}

@keyframes moveImage {
    0% {
        transform: translateX(0); /* Mulai di posisi awal */
    }
    50% {
        transform: translateX(1080px); /* Bergerak 20px ke kanan */
    }
    100% {
        transform: translateX(0); /* Kembali ke posisi awal */
    }
}


.container-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.card-menu{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3%;
    width: 30%;
    height: 300px;
    background-color: none;
    border-radius: 13px;
    border: 2px solid var(--secondary);
    padding: 5%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-menu2{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3%;
    width: 30%;
    height: 300px;
    background-color: var(--primary);
    border-radius: 13px;
    padding: 5%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

:hover.card-menu, :hover.card-menu2{
    box-shadow: 5px 10px 10px 1px #d5d5d5;
    transform: translateY(-15px);
}

.card-menu h2, .card-menu2 h2{
    text-align: left;
    margin-bottom: 5px;
}

.price-end{
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    text-align: end;
}

.price-end span{
    color: #f0101f;
}

#rating{
    justify-content: center;
    align-items: center;
    padding: 5% 7%;
    /* margin-top: 20px; */
}

#rating p{
    text-align: center;
    padding: 0 7%;
}

.container-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    border: 2px solid var(--secondary);
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    text-align: center;
    padding: 30px;
    margin: 40px 0;
}

.container-rating2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--primary);
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    text-align: center;
    padding: 30px;
    margin: 40px 0;
}

.container-rating3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #ffffff;
    border-radius: 10px;
    background-color: var(--secondary);
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    text-align: center;
    padding: 30px;
    margin: 40px 0;
}

.rating-cust{
    width: 30%;
}

.rating-card{
    width: 70%;
}

#profile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 7% 0 7%;
    gap: 9%;
}

#profile h2{
    margin-bottom: 20px;
}

.sub-profile {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.sub-profile2 {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.sub-profile3 {
    display: flex;
    flex-direction: column;
    width: 12%;
}

.sub-profile p{
    line-height: 33px;
}

footer{
    align-items: center;
    text-align: center;
    padding-top: 7%;
}

/* media queries */
@media (max-width: 768px){
    html{
        font-size: 50%;
    }
    .about-item, .about-item2 {
        width: 100%;
    }
    
    .about-container {
        gap: 2rem;
    }

    .main-text {
        width: 100%;
    }

    .sub-profile p {
        line-height: 20px;
    }
    
    .about-container p{
        font-size: 1.5rem;
    }

    .container-rating, .container-rating2, .container-rating3{
        margin: 20px 0;
    }

    .main-text p, h3{
        font-size: 1.5rem;
    }

    .main-text h1{
        font-size: 30px;
    }

    #hero-section img{
        width: 300px;
    }

    .sub-profile{
        width: 22%;
    }

    .sub-profile2, .sub-profile3 {
        width: 17%;
    }

        @keyframes moveImage {
            0% {
                transform: translateX(0);
                /* Mulai di posisi awal */
            }
    
            50% {
                transform: translateX(310px);
                /* Bergerak 20px ke kanan */
            }
    
            100% {
                transform: translateX(0);
                /* Kembali ke posisi awal */
            }
        }
    
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0 2%;
    }
    
    .navbar-icon{
        font-size: 100%;
    }

    .navbar-icon img{
        width: 40px;
    }

    .navbar-order{
        width: 70px;
        padding: 5px 0;
        border-radius: 9px;
        font-size: 13px;
        text-decoration: none;
    }
    
    .navbar-li {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        gap: 10px;
    }
    
    .navbar-li.active {
        display: flex;
    }

    #menu {
        display: block;
        color: white;
        cursor: pointer;
        font-size: 30px;
        margin-top: 10px;
    }
}