:root{
    --primary: #e3afd1;
    --secondary: #75004c;
    --bg: linear-gradient(to bottom, #ffffff, #75004c);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: black;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #fff;
    color: black;
}

.navbar{
    position: sticky;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17%;
    padding: 0 7%;
    font-size: 18px;
    background-color: rgb(227, 175, 209, 0.8);
}

.navbar-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-size: 25px;
    margin: 10px;
}

.navbar-li a{
    display: inline-block;
    font-size: 17px;
    color: black;
    margin: 0 13px;
}

.navbar-li a:hover{
    color: var(--secondary);
}

.navbar-order{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    background-color: var(--secondary);
    font-size: 18px;
}

:hover.navbar-order{
    color: black;
    background-color: var(--primary);
    transition: all 0.3s ease;
}

#hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
    gap: 5%;
}

#about{
    justify-content: center;
    align-items: center;
    padding: 7%;
    gap: 5%;
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 2% 0;
}

.about-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    background-color: var(--primary);
    border-radius: 13px;
    padding: 3rem;
    width: 50%;
    max-width: 750px;
}

.about-item2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    background-color: none;
    border: 2px solid var(--secondary);
    border-radius: 13px;
    padding: 3rem;
    width: 50%;
    max-width: 750px;
}

#price{
    justify-content: center;
    align-items: center;
    padding: 0 7%;
    gap: 5%;
}

.price-tag{
    justify-content: center;
    align-items: center;
}

.price-tag img {
    width: 20%;
    animation: moveImage 7s ease-in-out infinite; /* Menambahkan animasi */
}

@keyframes moveImage {
    0% {
        transform: translateX(0); /* Mulai di posisi awal */
    }
    50% {
        transform: translateX(1080px); /* Bergerak 20px ke kanan */
    }
    100% {
        transform: translateX(0); /* Kembali ke posisi awal */
    }
}


.container-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

.card-menu{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3%;
    width: 30%;
    height: 300px;
    background-color: none;
    border-radius: 13px;
    border: 2px solid var(--secondary);
    padding: 5%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-menu2{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3%;
    width: 30%;
    height: 300px;
    background-color: var(--primary);
    border-radius: 13px;
    padding: 5%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

:hover.card-menu, :hover.card-menu2{
    box-shadow: 5px 10px 10px 1px #d5d5d5;
    transform: translateY(-15px);
}

.card-menu h2{
    text-align: left;
    margin-bottom: 5px;
}

.price-end{
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    text-align: end;
}

/* media queries */
@media (max-width: 450px){
    html{
        font-size: 62%;
    }
}